.halfField-container {
  display: flex;
  justify-content: center;
  height: 1100px;
  width: 1200px;
  border: 2px solid black;
  background-color: green;
}

.crease {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  margin-top: 300px;
  border: 2px solid black;

  .goal {
    height: 6px;
    width: 120px;
    background-color: black;
  }
}
